.body {
  background-color: #35373b;
  color: white;
  box-sizing: border-box;
}

.header {
  align-items: center;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}

.header__nav {
  flex-basis: 20%;
  margin-left: auto;
  text-align: center;
}

.header__list {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.header__list-item {
  margin-left: 5%;
}

.header__list-button {
  color: white;
  font-size: 105%;
  text-decoration: none;
  transition: 0.2s;
  white-space: nowrap;
}

.header__list-button:hover {
  opacity: 0.5;
}
