.body {
  background-color: #35373b;
  color: white;
  box-sizing: border-box;
}

.header {
  align-items: center;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 20%;
}

.header__nav {
  flex-basis: 20%;
  margin-left: auto;
  text-align: center;
}

.header__list {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.header__list-item {
  margin-left: 6%;
}

.header__list-link {
  color: white;
  font-size: 105%;
  text-decoration: none;
  transition: 0.2s;
}

.header__list-link:hover {
  opacity: 0.5;
}

.main {
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.profile__my-info {
  display: flex;
  list-style: none;
}
