.main {
  background-color: #35373b;
  color: white;
  box-sizing: border-box;
  margin-left: 15%;
  margin-right: 15%;
}

.header {
  align-items: center;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__nav {
  margin-left: auto;
  text-align: center;
}

.header__list {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.header__list-item {
  margin-left: 50px;
}
